# todo: modify this for k8
# This is an alternate LB that should give us more control
#global
#     daemon
#     user nobody
#     group nobody

defaults
     mode     http
     timeout connect 5000ms
     timeout client     50000ms
     timeout server     50000ms

frontend http-in
     mode http
     bind *:80
	 acl am_acl path -m beg /openam
	 acl am_missing_path_acl path -m beg /UI
	 acl idm_acl path -m beg /openidm
	 acl idm_admin_acl path -m beg /admin
     use_backend    openam-servers if am_acl
     use_backend    openam-servers if am_missing_path_acl
	 use_backend	openidm-servers if idm_admin_acl
	 use_backend	openidm-servers if idm_acl
	 default_backend openidm-servers

backend openam-servers
     mode http
     option httpchk GET /
     #option httpchk GET /openam/isAlive.jsp
 # ProxyPass / http://openam-svc:8080/openam
	 acl am_acl path -m beg /openam
	 reqrep ^([^\ :]*)\ [/]?(.*)     \1\ /openam/\2 if !am_acl
 # ProxyPassReverse / http://openam-svc-a:8080/openam
 # Note: we turn the urls into absolute in the mean time
#     acl hdr_location res.hdr(Location) -m found
#     rspirep ^Location:\ (https?://openam-svc-a:8080/openam(/.*) Location:\ /3 if hdr_location
     # openam application cookie
     appsession amlbcookie len 20 timeout 3h request-learn
     balance roundrobin
     server oam1 openam-svc-a:8080 check inter 60000
     #server oam2 openam-svc-b:8080 check inter 60000

backend openidm-servers
     mode http
     option httpchk GET /
     balance roundrobin
     server oidm1 openidm:8080 check inter 60000

listen stats :81
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /
    stats auth admin:admin
